<!-- Booking confirmation shown here -->

<div style="background-color: lavender; text-align: center;border-style: solid;padding: 20px;">
<h1>Booking Successful</h1>

<h3>
	Customer id is :
	<%= current_customer.email %>
</h3>
<%= link_to "Back to Home page", root_path %>
</div>