 <h1>Movies:</h1>
<% @movies.each do |m| %>
	<ul>
		<li>
			<h2>
				<%= link_to m.name %>
			</h2>
		</li>
	</ul>
<% end %>


<!-- previous work	<h3><%= link_to "Book Ticket" %></h3>
	<h3>
		<%= link_to "customers" ,customers_path(m.id) %>
	</h3>
	<hr>
 -->