<div style="background-color: lavender; text-align: center;border-style: solid;padding: 20px;">
<h1><%= "Movie : #{@movie.name}" %></h1>

<% if signed_in? %>

<%= link_to "Book Your Ticket",edit_customer_path(customer_id:current_customer.id,theatre_id: @movie.screen.theatre.id, movie_id: @movie.id) %>
<br><br>

<% else %>
 
 <%= link_to "Sign In to book your ticket", sessions_new_path %>


 <br>
 <br>

 <% end %>
<%= link_to "Back to Home page", root_path %>
</div>